<div class="contain" style="margin-top: 70px;">
<div class="container-fluid" style=" padding: 30px;margin-bottom: 15px;">
  <div class="row">
    <h2 style="padding-bottom: 5px; color: white;">whislist</h2>
    <div class="col-md-3">
      <img src="../assets/Mask group (2).svg"  height="250" width="300">
    </div>
    <div class="col-md-3">
      <img src="../assets/Mask group.svg" height="270" width="300">
    </div>
    <div class="col-md-3">
      <img src="../assets/Mask group (1).svg" height="270" width="300">
    </div>
   <div class="col-md-3"> 
      <img src="../assets/Mask group (2).svg" height="270" width="300" >
      </div>
</div>
</div>