<nav class="navbar  navbar-expand-md navbar-dark bg-blue fixed-top" style="background-color: black;" >
  <img class="web-logo" src="../assets/AOL_white.svg" height="90px" width="90px">
  <button class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
     <div  class="collapse navbar-collapse " id="navbarCollapse">
      <ul class="navbar-nav nav-change text-center" style="padding: 15px; font-size: 18px; margin: 0; text-align: left;">
        <li class="nav-item"><a routerLink="" style="padding: 15px; font-size: 18px; color: white;"> home</a></li>
        <li class="nav-item"><a routerLink="video" style="padding: 15px; font-size: 18px; color: white;"> video</a></li>
        <li class="nav-item"><a routerLink="audio" style="padding: 15px; font-size: 18px; color: white;">audio</a></li>
        <li class="nav-item"><a routerLink="e-book" style="padding: 15px; font-size: 18px; color: white;">e-book</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>