<div class="container-fluid" style=" background-color: rgb(0, 0, 0);" >
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11" style="text-align: center;">
        <div id="demo" class="carousel slide" data-ride="carousel">
  
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          <div>
           </div>
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              
              <img src="../assets/Untitled-3.svg" height="1100px" width="500px">
              <div class="img-gredient"></div>
               </div>
              <div class="carousel-caption" style="text-align:left; height: 70%;">
                <h1>Art Of Living Launches<br> Mission Zindagi</h1>
                <p>2008 . PG-13 . Meditation . 2h 32m</p>
                <p>Sri Sri Ravi Shankar's organization The Art of Living has initiated<br> several free and relief programs to combat the current crisis of<br> the COVID-19 virus.</p>
                <button style="background-color:#ffad00; color: white; border: 0; padding-right: 10px; padding-top: 2px; padding-bottom: 3px; border-radius: 5px; margin-right: 5px;"><img src="../assets/play-02.svg" style="height: 25px; width: 25px;">play</button>
                 <button style="background-color: grey;border: 0;color: white; padding-right: 10px; padding-top: 2px; padding-bottom: 3px; border-radius: 5px; margin-right: 5px;" ><img src="../assets/add-square-01.svg" style="height: 25px; width: 25px;"><a routerLink="wishlist" style="padding: 15px; font-size: 18px; color: rgb(253, 253, 253);">wishlist</a></button>
              </div>
              <div class="carousel-caption" style="text-align:right; height: 10%;"> 
              <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                 <span class="carousel-control-next-icon"></span>
                 </a>
              </div>
            </div>
          </div>
        
          
        </div>
      </div>
      <div id="next" class="carousel slide" data-ride="carousel">
      
    
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid" style=" padding: 30px;margin-bottom: 15px;">
            <div class="row gx-5">
              <h2 style="padding-bottom: 5px; color: white;">continue watching</h2>
              <div class="col-md-3">
                <img src="../assets/Mask group (2).svg" >
              </div>
              <div class="col-md-3">
                <img src="../assets/Mask group.svg" >
              </div>
              <div class="col-md-3">
                <img src="../assets/Mask group (1).svg" >
              </div>
             <div class="col-md-3"> 
                <img src="../assets/Mask group (2).svg"  >
                </div>
          </div>
          <a class="carousel-control-prev" href="#next" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
       </div>
      </div>
    </div>
  
    <div id="ne" class="carousel slide" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid" style=" padding: 30px;">
            <div class="row gx-5">
              <h2 style="color: white;">knowladge series trending</h2>
              <div class="col-md-3">
                <img src="../assets/Group 30.svg" >
              </div>
              <div class="col-md-3">
                <img src="../assets/Group 29.svg"  >
              </div>
              <div class="col-md-3">
                <img src="../assets/Group 28.svg" >
              </div>
             <div class="col-md-3"> 
                <img src="../assets/Group 2675.svg" >
                </div>
          </div>
          <a class="carousel-control-prev" href="#ne" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#ne" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        </div>
       </div>
        </div>
  
        <div id="ex" class="carousel slide" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid" style=" padding: 30px; margin-bottom: 15px;">
            <div class="row gx-5">
              <h2 style="color: white;">recommended for you</h2>
              <div class="col-md-4">
                <img src="../assets/Rectangle 6.svg" >
              </div>
              <div class="col-md-4">
                <img src="../assets/Sounds-of-devi-Youtube-Thumbnail 1.svg" >
              </div>
              <div class="col-md-4">
                <img src="../assets/image 176 (1).svg">
              </div>
          </div>
          <a class="carousel-control-prev" href="#ex" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#ex" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        </div>
        </div>
        </div>
  
       <div id="xt" class="carousel slide" data-ride="carousel">  
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid" style=" padding: 30px; margin-bottom: 15px;">
            <div class="row gx-5">
              <h2 style="color: white;">populer singer</h2>
              <div class="col-md-3">
                <img src="../assets/Group 31.svg" >
              </div>
              <div class="col-md-3">
                <img src="../assets/Group 30 (1).svg">
              </div>
              <div class="col-md-3">
                <img src="../assets/Group 29 (1).svg" >
              </div>
              <div class="col-md-3">
                <img src="../assets/Group 31.svg">
              </div>
         </div>
         <a class="carousel-control-prev" href="#xt" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#xt" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
        </div>
        </div>
        </div>
        </div>
  
        <div id="t" class="carousel slide" data-ride="carousel"> 
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid" style=" padding: 30px; margin-bottom: 15px;">
              <div class="row gx-5">
                <h2 style="color: white;">podcast</h2>
                <div class="col-md-4">
                  <img src="../assets/image 176 (1).svg" >
                </div>
                <div class="col-md-4">
                  <img src="../assets/image 181.svg"  >
                </div>
                <div class="col-md-4">
                  <img src="../assets/image 184.svg" >
                </div>
           </div>
           <a class="carousel-control-prev" href="#t" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#t" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
          </div>
          </div>
          </div>
          </div>
  
          <div id="n" class="carousel slide" data-ride="carousel">  
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid" style=" padding: 30px; margin-bottom: 20px;">
                <div class="row gx-5">
                  <h2 style="color: white;">one time purchase</h2>
                  <div class="col-md-3">
                    <img src="../assets/Group 15.svg " >
                  </div>
                  <div class="col-md-3">
                    <img src="../assets/Group 16.svg"  >
                  </div>
                  <div class="col-md-3">
                    <img src="../assets/Group 17.svg" >
                  </div>
                  <div class="col-md-3">
                    <img src="../assets/Group 18.svg">
                  </div>
             </div>
             <a class="carousel-control-prev" href="#n" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#n" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
            </div>
            </div>
            </div>
          </div>
      </div> 
    <div class="container-fluid" style="font-size: small; background-color: black; padding-top: 100px;">
      <div class="row">
        <div class=" col-md-4">
       <table>
        <tr >
          <td style="color: white;">connect</td>
        </tr>
        <tr>
          <td style="color: white;">(8005)45-2002</td>
        </tr>
        <tr>
          <td><button class="btn btn-primary">follow @srisri</button></td>
        </tr>
        <tr>
          <td><button class="btn btn-primary" style="background-color: #ffad00; color: white; border: 0;">FIND A COURSE</button><button class="btn btn-primary" style="background-color: white; color: grey; border-color: black; margin: 10PX;">FIND A MEET UP</button></td>      
        </tr>
       </table>
      </div> 
      <div class="col-md-2" style="text-align: left;">
        <ul style="list-style: none;">
          <h6 style="padding-bottom: 10px; color: white;">COURSE</h6>
          <li style="color: white;">SKY breathing meditation</li>
          <li style="color: white;">samadhi meditation </li>
          <li style="color: white;"> sri sri </li>
          <li style="color: white;">meetup </li>
          <li style="color: white;"> testimonies</li>
        </ul> 
      </div>
      <div class="col-md-2" style="text-align: left;">
        <ul style="list-style: none;">
          <h6 style=" padding-bottom: 10px; color: white;">art of living</h6>
          <li style="color: white;">organization </li>
          <li style="color: white;"> press</li>
          <li style="color: white;"> resarch </li>
          <li style="color: white;"> bookstore</li>
          <li style="color: white;"> donate</li>
          <li style="color: white;">gift card</li>
        </ul> 
      </div>
      <div class="col-md-2" >
        <ul style="list-style: none; text-align: left;">
          <h6 style=" padding-bottom: 10px; color: white;">GURUDEV</h6>
          <li style="color: white;">biography</li>
          <li style="color: white;">wisdom</li>
          <li style="color: white;"> video</li>
          <li style="color: white;"> reward and gift</li>
          <li style="color: white;"> tour schedule</li>
        </ul> 
      </div>
      <div class="col-md-2" style="text-align: left;">
        <ul style="list-style: none;">
          <h6 style="padding-bottom: 10px; color: white;">BLOG</h6>
          <li style="color: white;">yoga </li>
          <li style="color: white;">meditation</li>
          <li style="color: white;">breathing excercise</li>
          <li style="color: white;">spretulity</li>
          <li style="color: white;"> lifestyle</li>
          <li style="color: white;">gurudev blog</li>
          <li style="color: white;">subscribe</li>
        </ul> 
      </div>
      </div>   